[MESSAGES CONTROL]
disable=C0103,C0201,C0301,C0302,W0105,W0707,W1202,W1203,R0801

[IMPORTS]
ignored-modules=

[DESIGN]
min-public-methods=1
max-public-methods=36
max-returns=10
max-bool-expr=7
max-args=27
max-locals=31
max-statements=80
max-parents=11
max-branches=24
max-attributes=38

[REFACTORING]
max-nested-blocks=6
