recursive-excludecosmpy *.py

exclude *.in
exclude *.json
exclude *.lock
exclude *.md
exclude *.txt
exclude *.yml
exclude strategy.ini
exclude tox.ini
exclude *.cff
exclude .firebaserc
recursive-exclude contracts *.txt
recursive-exclude contracts *.wasm
recursive-exclude contracts *.json
recursive-exclude docs *.*
recursive-exclude docs *
recursive-exclude examples *.py
recursive-exclude scripts *.py
recursive-exclude scripts *.sh
recursive-exclude tests *.py
