include *.txt
include Pipfile
include strategy.ini
include tox.ini
include *.md
include *.yml
include *.json
include .firebaserc
include mkdocs.yml
recursive-include contracts *.wasm
recursive-include contracts *.txt
recursive-include docs *
recursive-include examples *.py
recursive-include scripts *.py
recursive-include scripts *.sh
recursive-include cosmpy *.py
recursive-include tests *.py
recursive-include tests *.wasm
