site_name: C4EPy
site_url: https://docs.fetch.ai/cosmpy
site_description: Everything you need to know about C4EPy.
repo_url: https://github.com/crosnest/c4epy
repo_name: crosnest/c4epy
edit_uri: ""
site_author: chainmaster@cros-nest.com
copyright: Copyright &copy; 2018 - 2023 Fetch.ai | 2023 Cros-Nest # Copyright notice in footer

strict: true

nav:
  - Getting started: 'index.md'
  - Beginner:
    - Connect to a network: 'connect-to-network.md'
    - Querying balances: 'query-balance.md'
    - Wallets and Keys: 'wallets-and-keys.md'
    - Send tokens: 'send-tokens.md'
    - Staking: 'staking.md'
    - Smart Contracts:
      - Deploy a contract: 'deploy-a-contract.md'
  - Advanced:
    - Low-level API: 'low-level-api.md'
  - Use-Cases:
    - Stake Auto-Compounder: 'auto-compounder.md'
    - Stake Optimizer: 'stake-optimizer.md'
    - Oracles: 'oracles.md'
    - Wallet Top-up: 'wallet-topup.md'
    - Liquidity Pool: 'liquidity-pool.md'
    - Swap Automation: 'swap-automation.md'

  - API:
    - Client:
      - Client functionality: 'api/aerial/client/__init__.md'
      - Bank send message: 'api/aerial/client/bank.md'
      - Distribution: 'api/aerial/client/distribution.md'
      - Staking functionality: 'api/aerial/client/staking.md'
      - Helper functions: 'api/aerial/client/utils.md'
    - Parse the coins: 'api/aerial/coins.md'
    - Network configurations: 'api/aerial/config.md'
    - Exceptions: 'api/aerial/exceptions.md'
    - Ledger faucet API interface: 'api/aerial/faucet.md'
    - Transaction gas strategy: 'api/aerial/gas.md'
    - Transaction helpers: 'api/aerial/tx_helpers.md'
    - Transaction: 'api/aerial/tx.md'
    - Parsing the URL: 'api/aerial/urls.md'
    - Wallet Generation: 'api/aerial/wallet.md'

theme:
  name: material
  language: en
  palette: # Set light/dark theme button next to the search bar
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  logo: assets/images/logo.png  # Set Fetch Logo top left
  favicon: assets/images/favicon.ico  # Set Fetch favicon
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.instant # Fast page loading
    - navigation.tracking # URL automatically updated with the currently active anchor
    - navigation.top # Back-to-top button
    - navigation.footer # Add links to the previous and next page of the current page
    - search.suggest # Completion for the searched word (can be accepted with ->).
    - search.highlight # Highlight all occurrences after following a search result link
    - search.share # Show share button for copying deep link to the current search query and result
    - toc.follow # Follow the table of content
    - content.action.view # Shows button to "view the source of this page"
    - content.code.copy # Shows a button next to code blocks to copy the code into clipboard
#  custom_dir: docs/overrides # Uncomment to enable announcements bar at the top

extra_css:
    - css/my-styles.css

markdown_extensions:
  - admonition # Required by admonitions
  - pymdownx.superfences # Required by admonitions, annotations, tabs. Enables arbitrary nesting of code and content blocks
  - pymdownx.highlight: # Required by code blocks
      anchor_linenums: true
  - pymdownx.inlinehilite # Required by code blocks
  - pymdownx.snippets # Required by code blocks
  - pymdownx.superfences # Required by admonitions, code blocks
  - pymdownx.details # Required by admonitions, code blocks
  - attr_list # Required by annotations
  - md_in_html # Required by annotations
  - pymdownx.tabbed: # Required by tabs
      alternate_style: true
  - tables # # Required by tables
  - toc:
        permalink: true

plugins:
  - search # Enables search

extra:
  social:
    - icon: fontawesome/brands/twitter
      link: https://bit.ly/3oDuI3f
      name: fetch.ai on twitter
    - icon: fontawesome/brands/telegram
      link: https://t.me/fetch_ai
      name: fetch.ai on telegram
    - icon: fontawesome/brands/discord
      link: https://bit.ly/3ra5uMI
      name: fetch.ai on discord
    - icon: fontawesome/brands/github
      link: https://bit.ly/3AFCWxl
      name: fetch.ai on github
    - icon: fontawesome/brands/reddit
      link: https://bit.ly/30zS1Tg
      name: fetch.ai on reddit
    - icon: fontawesome/brands/youtube
      link: https://bit.ly/3DxFazs
      name: fetch.ai on youtube
    - icon: fontawesome/brands/linkedin
      link: https://bit.ly/3kNO70p
      name: fetch.ai on linkedin