[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
cosmpy = {editable = true, extras = ["dev", "test"], path = "."}

[packages]
cosmpy = {editable = true, extras = [], path = "."}

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
