[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
cosm = {editable = true, extras = ["dev", "test"], path = "."}
protobuf = "3.15.5"
grpcio = "1.38.1"
grpcio-tools = "1.38.1"

[requires]
python_version = "3.9"
